@import "../../../variables";


.title, .go-back-btn {
  color: #00ACAB;
}

.container {

  .image-container {
    float: left;
    max-width: 50%;
    margin-right: 15px;
    img {
      display: inline-block;
      max-width: 100%;
    }
  }
  .video-container {
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }
    .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      content: '';
      background-color: #323232;
      opacity: 0.4;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 55;
    }
  }
}

.text-container {
  ::ng-deep {
    p, span {
      font-family: urwgothic;
    }
  }
}

@media screen and (max-width: $break-medium) {
  .title {
    font-size: 16px;
  }
}
