@import "../../variables";


$logo-height: 45px;
$logo-width: 63px;
$logo-color: #656565;
$max-width: 1600px;
$default-offset: 15px;
$button-height: 38px;

.header {
  border-bottom: 2px solid $logo-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: white;

  .header-inner {
    //max-width: $max-width;
    margin: 0 auto;
    padding: 0;

    .collapsed-nav {
      display: none;
    }

    .default-nav {
      display: flex;
      justify-content: space-between;
      font-size: 16px;

      .logo-container {
        position: relative;
        padding: 10px 20px;
        max-height: $header-height;

        .logo {
          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }
        }

        img {
          max-height: $header-height;
          height: 100%;
        }
      }
      .menu-list-container {
        display: flex;
        font-size: 14px;

        .list {
          margin: 0;
          display: flex;
          align-items: center;
          list-style: none;
          text-transform: uppercase;

          a {
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #656565;
            padding: 20px 1vw;
            position: relative;
            cursor: pointer;

            &:before {
              content: '';
              background-color: #323232;
              display: block;
              width: 0;
              height: 1px;
              position: absolute;
              top: 100%;
              transition: 0.3s;
            }

            &:hover {
              color: white;
              background-color: #00ACAB;            }

            &:hover:before {
              width: 100%;
            }
          }
        }
      }

      .lang-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #656565;


      }
      .lang-menu {
        min-width: 30px!important;
        max-width: 30px!important;
      }
      .socials-container {
        display: flex;
        align-items: center;

        @media screen and (max-width: 1280px) {
          display: none;
        }

        .social {
          display: block;
          margin: 0 10px;
          color: inherit;

          .inst-icon, .fb-icon {
            transition: 0.3s;
            display: block;
            width: 30px;
            height: auto;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }

      .enroll-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 2vw;

        @media screen and (max-width: 1600px) {
          display: none;
        }

        .enroll-procedure-btn {
          color: white;
          background-color: #00ACAB;
          font-weight: 700;
          letter-spacing: 1px;
          border: 1px solid #7D8081;
          min-width: 205px;
          padding: 18px 45px;
          text-align: center;
          display: inline-block;
          position: relative;
          cursor: pointer;

          &:hover:before {
            opacity: 1;
            transform: translateX(5px);
          }

          &:before {
            opacity: 0;
            content: '';
            background-color: #7D8081;
            display: block;
            width: 50px;
            height: 1px;
            margin: auto 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -17px;
            transition: 0.3s;
          }

          &:hover:after {
            opacity: 1;
            left: 27px;
          }

          &:after {
            content: '';
            border-top: 1px solid #7D8081;
            border-right: 1px solid #7D8081;
            opacity: 0;
            display: block;
            width: 8px;
            height: 8px;
            margin: auto 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 22px;
            transform-origin: center;
            transform: rotate(45deg);
            transition: 0.3s;
          }
        }
      }


      .phone-number-container {
        display: flex;

        @media screen and (max-width: 1280px) {
          display: none;
        }

        .phone-number {
          align-self: center;
          color: #656565;
        }
      }
    }
  }
}



@media screen and (max-width: $break-small) {
  .header {
    .header-inner {
      padding: 0;

      .default-nav {
        display: none;
      }

      .collapsed-nav {
        display: flex;
        justify-content: space-between;

        .logo-container {
          padding: 10px 15px;

          .logo {
            max-height: 80px;
            height: 100%;
            width: 80px;

            &:focus {
              outline: none;
            }
          }
        }

        .phone-number-container {
          display: flex;

          .phone-number {
            align-self: center;
            color: #656565;
          }
        }

        .menu-container {
          align-self: center;
          color: #00ACAB;
          padding: 0 15px;

          .icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-medium) {
  .header {
    .header-inner {
      padding: 0;

      .default-nav {
        display: none;
      }

      .collapsed-nav {
        display: flex;
        justify-content: space-between;

        .logo-container {
          padding: 10px 15px;
          max-height: $header-height;

          .logo {
            max-height: $header-height;
            height: 100%;
            width: 80px;
          }
        }

        .phone-number-container {
          display: flex;

          .phone-number {
            font-size: 14px;
            align-self: center;
            color: #656565;
          }
        }

        .menu-container {
          align-self: center;
          color: #00ACAB;
          padding: 0 15px;

          .icon {
            font-size: 40px;
            line-height: 40px;
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

}


