<div class="footer-container">
  <div class="flex-item">
    <img src="assets/img/logo.svg" class="logo" alt="Site logo">
  </div>
  <div class="flex-item">
    <a class="enroll-procedure-btn" (click)="showEnrollModal()">
      <span>{{ 'FOOTER.enrollBtn' | translate }}</span>
    </a>
  </div>
  <div class="flex-item">
    <p class="title">{{ 'FOOTER.details' | translate }}</p>

  </div>
  <div class="flex-item">
    <a class="phone-number" href="tel:+380964427282">+380 96 442 72 82</a>
  </div>
  <div class="flex-item">
    <div class="socials-container">
      <a class="social" href="https://www.facebook.com/delight.body.spa/" target="_blank" rel="nofollow">
        <img src="assets/img/facebook.svg"
             title="Перейти на сторінку в фейсбук"
             class="fb-icon" alt="fb icon">
      </a>
      <a class="social" href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fdelight.body%3Ffbclid%3DIwAR3woDCQcRH9NDNe1tGd5ZeNqPROENWUOzBcILtiRWF4J1SlA5PwD_Z3VLw&h=AT1R4prddZ2FaLQaf0Z_uzUqCZ3UtByMjrQNvP3rmpt3XW2UJWq_1kUOUwjL1q0fKO-EgZS0XkV7abqwDzaheyi6HwOlmOVo4S5QdQ_JWL26B2Gpb-TQPBpMkPlWhEnQ6ITOMECvB3QWDF-qLsgcNse8hcEwpFlvCr0NXjfuxJ6NMv6lrbDZjCBRgp4_xGDt4_aB8o11l1mJ6mO36i7DgTvgvoGpnfBNiwlkicWVU7iuTC8oRj81VN_cPfylKSLFJDf1nP75SbV6PkdPChX7z2BlYOYzrnHk2dirOasqZfvYV3ikrc-4ZEVd90CudefzLEbYRTvNUe_g65xKXGH-sPNN_AZxfFUdVHfiRiPMspb4-UPhLVUeQCoDGBIaYSCrmz9RLdJX7kdO8GjCY1LK9orz5ZSAvkxrWVIoaWs0zLG9eVpVczIjBQistdQF10Kd0941fRfWL416VJCBr6TqMBkvJ_k61es" target="_blank" rel="nofollow">
        <img src="assets/img/instagram.svg"
             title="Перейти на сторінку в інстаграм"
             class="inst-icon" alt="instagram icon">
      </a>
    </div>
  </div>
</div>


