<div class="contacts-container">
  <div class="map-container">
    <iframe class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.029362895785!2d24.070352951516185!3d49.80431564148897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae819efd67913%3A0x276ea8b5ac917625!2z0LLRg9C70LjRhtGPINCf0LDRgdGW0YfQvdCwLCAxNzEsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1569592735412!5m2!1suk!2sua"
      frameborder="0" style="border:0;" allowfullscreen=""
    ></iframe>
  </div>
  <div class="contacts-details-container">
    <div class="contacts-details">
      <h2 class="title">Графік роботи</h2>
      <p><fa-icon [icon]="faCalendar"></fa-icon>  Понеділок-субота: з 10:00 до 20:00</p>
      <p><fa-icon [icon]="faCalendar"></fa-icon> Неділя: з 11:00 до 17:00</p>

      <h2 class="title">Контакти</h2>
      <p><fa-icon [icon]="faHome"></fa-icon>  <span> Пасічна, 171 Lviv, Ukraine</span></p>
      <p><fa-icon [icon]="faPhone"></fa-icon>  <span> +380 96 442 72 82</span></p>
      <p><fa-icon [icon]="faEnvelope"></fa-icon>  <span> delightbodysalon@gmail.com</span></p>
    </div>
    <div class="schedule">

    </div>
  </div>
</div>
