@import "../../../variables";

.go-back-btn, .title, .procedures-title {
  color: #00ACAB;
}

.category-details-container {
  .container {
    .image-container {
      margin-right: 15px;
      max-width: 50%;
      float: left;
      img {
        display: inline-block;
        max-width: 100%;
      }
    }

    .text-container {
      ::ng-deep {
        p, span {
          font-family: urwgothic;
        }
      }
    }
  }


  @media screen and (max-width: $break-small) {

    .container {
      flex-direction: column;

      .image-container {
        max-width: 100%;
      }

      .text-container {
        max-width: 100%;
      }
    }
  }

}

.categories-list-container {
  clear: both;
}

@media screen and (max-width: $break-medium) {
  .title {
    font-size: 16px;
  }
}

