<h1>{{category.title}}</h1>
<img mat-card-image src="assets/img/default-img.png"  alt="default image" *ngIf="!category.image">
<img [src]="this.urlHelperService.getImageUrl(category.image)" alt="item image" *ngIf="category.image">
<p class="text">{{category.text}}</p>

<app-category-list [categoryList]="categoryList"></app-category-list>

<h2 *ngIf="proceduresList">Послуги:</h2>
<app-procedures-list [proceduresList]="proceduresList"></app-procedures-list>
<button mat-raised-button (click)="goBack()">Повернутися назад</button>
