<div class="category-details-container">
  <h2 class="title">{{category.title}}</h2>
  <div class="flex-container">
    <div class="image-container">
      <img mat-card-image src="assets/img/default-img.png"  alt="default image" *ngIf="!category.image">
      <img [src]="this.urlHelperService.getImageUrl(category.image)" alt="item image" *ngIf="category.image">
    </div>
    <div class="text-container">
      <app-markup-container [htmlText]="category.text"></app-markup-container>
    </div>
  </div>
</div>
<br/>
<app-category-list [categoryList]="categoryList"></app-category-list>

<h2 *ngIf="proceduresList" class="procedures-title">{{ 'PROCEDURES.title' | translate }}:</h2>
<app-procedures-list [proceduresList]="proceduresList"></app-procedures-list>
<button mat-raised-button (click)="goBack()" class="go-back-btn">{{ 'BUTTONS.goBack' | translate }}</button>
