@import "../../../variables";

.go-back-btn, .title, .procedures-title {
  color: #00ACAB;
}

.category-details-container {
  .flex-container {
    display: flex;
    justify-content: center;

    .image-container {
      max-width: 40%;
      img {
        display: inline-block;
        max-width: 100%;
      }
    }

    .text-container {
      max-width: 60%;
      padding: 0 15px;
    }
  }


  @media screen and (max-width: $break-small) {

    .flex-container {
      flex-direction: column;

      .image-container {
        max-width: 100%;
      }

      .text-container {
        max-width: 100%;
      }
    }
  }

}


@media screen and (max-width: $break-medium) {
  .title {
    font-size: 16px;
  }
}

