<div class="wrapper">
  <h2>{{isNew ? 'Створити' : 'Змінити'}} Процедуру</h2>
  <div>
    <app-file-uploader></app-file-uploader>

    <br>
    <button mat-raised-button color="primary" class="browse-btn" (click)="toggleCropper()">Обрізати зображення</button>
    <br>
    <app-img-cropper *ngIf="!cropperHidden"></app-img-cropper>

    <p *ngIf="getCategoryTitle()"><span><strong>Категорія</strong></span> - {{getCategoryTitle()}}</p>
    <mat-expansion-panel [(expanded)]="xpandStatus">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Змінити категорію
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-categories-tree [options]="{isEditable: false, collapseAll: true}"></app-categories-tree>
    </mat-expansion-panel>

    <form [formGroup]="procedureForm" class="procedure-form">

      <mat-tab-group>
        <mat-tab label="UA Заголовок">
          <mat-form-field class="field">
            <input matInput placeholder="Заголовок" formControlName="title">
          </mat-form-field>
        </mat-tab>

        <mat-tab label="EN Заголовок">
          <mat-form-field class="field">
            <input matInput placeholder="Заголовок" formControlName="titleEn">
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>

      <mat-form-field class="field">
        <input matInput placeholder="Тривалість" formControlName="duration">
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput placeholder="Ціна" formControlName="price">
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput placeholder="Коротке відео процедури (посилання на відео*)" formControlName="videoUrl">
      </mat-form-field>
    </form>

    <mat-tab-group>
      <mat-tab label="UA Текст">
        <app-editor [initialHtmlText]="this.procedure.text" [item]="this.procedure" [editedProperty]="'text'"></app-editor>
      </mat-tab>

      <mat-tab label="EN Текст">
        <app-editor [initialHtmlText]="this.procedure.textEn" [item]="this.procedure" [editedProperty]="'textEn'"></app-editor>
      </mat-tab>
    </mat-tab-group>
  </div>
  <button mat-raised-button color="primary" (click)="confirm()">Зберегти</button>
  <button mat-raised-button *ngIf="procedure" (click)="deleteProcedure(procedure.id)" class="delete-btn">Видалити</button>
</div>


