<div class="wrapper">
  <h2>{{isNew ? 'Створити' : 'Змінити'}} Новину</h2>
  <div>
    <app-file-uploader></app-file-uploader>

    <br>
    <button mat-raised-button color="primary" class="browse-btn" (click)="toggleCropper()">Обрізати зображення</button>
    <br>
    <app-img-cropper *ngIf="!cropperHidden"></app-img-cropper>

    <form [formGroup]="procedureForm" class="procedure-form">
      <mat-form-field class="field">
        <input matInput placeholder="Заголовок" formControlName="title">
      </mat-form-field>
    </form>
    <app-editor></app-editor>
  </div>
  <div class="btn-container">
    <button mat-raised-button color="primary" (click)="confirm()">Зберегти</button>
    <button mat-raised-button *ngIf="procedure" (click)="deleteProcedure(procedure.id)" class="delete-btn">Видалити</button>
  </div>

</div>


