<div class="wrapper">
  <h2>{{isNew ? 'Створити' : 'Змінити'}} Новину</h2>
  <div>
    <app-file-uploader></app-file-uploader>

    <br>
    <button mat-raised-button color="primary" class="browse-btn" (click)="toggleCropper()">Обрізати зображення</button>
    <br>
    <app-img-cropper *ngIf="!cropperHidden"></app-img-cropper>

    <form [formGroup]="articleForm" class="procedure-form">
      <mat-tab-group>
        <mat-tab label="UA Заголовок">
          <mat-form-field class="field">
            <input matInput placeholder="Заголовок" formControlName="title">
          </mat-form-field>
        </mat-tab>

        <mat-tab label="EN Заголовок">
          <mat-form-field class="field">
            <input matInput placeholder="Заголовок" formControlName="titleEn">
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>

      <mat-tab-group>
        <mat-tab label="UA Текст">
          <app-editor [initialHtmlText]="this.article.text" [item]="this.article" [editedProperty]="'text'"></app-editor>
        </mat-tab>

        <mat-tab label="EN Текст">
          <app-editor [initialHtmlText]="this.article.textEn" [item]="this.article" [editedProperty]="'textEn'"></app-editor>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <div class="btn-container">
    <button mat-raised-button color="primary" (click)="confirm()">Зберегти</button>
    <button mat-raised-button *ngIf="article" (click)="deleteArticle(article.id)" class="delete-btn">Видалити</button>
  </div>

</div>


