@import "../../../variables";


.expansion-panel {
  color: #656565;

  .title {
    color: #00ACAB;
  }

  .procedures-table {
    .procedure-title {

    }
  }
}

@media screen and (max-width: $break-medium) {
  .procedures-table {
    .procedure-title {

    }
  }
}

@media screen and (max-width: $break-small) {
  .procedures-table {
    .procedure-header-title {
      font-size: 12px;
      padding-left: 10px;
    }

    .procedure-title {
      font-size: 10px;

      &:first-of-type {
        padding-left: 10px;
      }
    }

    .procedure-price {
      &:last-of-type {
        padding-right: 10px;
      }
    }
  }
}
