
<div class="details-container" *ngIf="selectedEmployee">
  <app-employee-details [employee]="selectedEmployee"></app-employee-details>
</div>

<div class="employee-container">
  <mat-card class="procedure-card"
            *ngFor="let item of itemsList"
            (click)="showDetails(item)">

    <h3 class="title">{{item.title}}</h3>
    <img [src]="item.thumbnail" alt="item image">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions class="action-btns-container" *ngIf="editable">
      <button mat-raised-button routerLink="/dashboard/employees-management/employee/{{item.id}}" class="edit-btn">Змінити</button>
    </mat-card-actions>
  </mat-card>
</div>


