.uploaded-img-card {
  max-width: 200px;

  img {
    max-width: 200px;
    width: 100%;
    cursor: pointer;
  }
}

.cropper {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -1000;
}
