<mat-card class="uploaded-img-card">
  <img mat-card-image src="assets/img/upload-image.jpg"  alt="default image" *ngIf="!fileUrl" (click)="fileInput.click()">
  <img [src]="this.urlHelperService.getImageUrl(fileUrl)" alt="uploaded image" *ngIf="fileUrl" (click)="fileInput.click()">
  <mat-card-actions>
    <button mat-button class="browse-btn" (click)="fileInput.click()">Вибрати зображення</button>
    <input #fileInput name="image" type="file" accept=".jpg" (change)="onFileSelected($event)" style="display:none;">
  </mat-card-actions>
</mat-card>

<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="4 / 3"
  [resizeToWidth]="800"
  [autoCrop]="true"
  format="jpeg"
  imageQuality="80"
  (imageCropped)="imageCropped($event)"
  class="cropper"
></image-cropper>


