@import "../variables";
.header-container {
  height: 94px;
}

.drawer-container {
  z-index: 1000;
}

.lang-container {
  color: #656565;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .social {
    display: block;
    margin: 0 10px;
    color: inherit;

    .inst-icon, .fb-icon {
      transition: 0.3s;
      display: block;
      width: 25px;
      height: auto;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.btn-container {
  margin-top: 20px;
  text-align: center;
  color: #656565;

  .close-btn {
    width: 100px;
  }
}

.drawer-container {

  .drawer.mobile {
    ::ng-deep {
      .menu-list-container.vertical {
        .list {
          li {
            padding: 10px;
          }
        }
      }
    }
  }
}

.content-container.mobile {
  ::ng-deep {
    .video-container:after {
      display: none;
    }

    //hide carousel on mobile devices
    .top-swiper-container {
      display: none;
    }
  }
}
