@import "../variables";

.drawer-container {
  margin-top: $header-height;
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));

  .drawer {
    position: fixed;
    margin-top: inherit;
    margin-bottom: $footer-height;
    height: 100%;
  }
  .drawer.mobile {
    width: 100%;
  }
  .content-container {
  }
}

.lang-container {
  color: #656565;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .social {
    display: block;
    margin: 0 10px;
    color: inherit;

    .inst-icon, .fb-icon {
      transition: 0.3s;
      display: block;
      width: 25px;
      height: auto;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.btn-container {
  margin-top: 20px;
  text-align: center;
  color: #656565;

  .close-btn {
    width: 100px;
  }
}
