@import "../variables";

.drawer-container {
  margin-top: $header-height;
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));

  .drawer {
    position: fixed;
    margin-top: inherit;
    margin-bottom: $footer-height;
    height: 100%;
  }
  .drawer.mobile {
    width: 100%;
  }
  .content-container {
  }
}



.menu-list-container {
  display: flex;
  justify-content: center;
  padding: 20px;

  .list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-transform: uppercase;

    li {
      padding: 20px;

      a {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #656565;
        padding: 10px 1vw;
        position: relative;
        cursor: pointer;

        &:before {
          content: '';
          background-color: #323232;
          display: block;
          width: 0;
          height: 1px;
          position: absolute;
          top: 100%;
          transition: 0.3s;
        }

        &:hover {
          color: white;
          background-color: #00ACAB;            }

        &:hover:before {
          width: 100%;
        }
      }
    }
  }
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .social {
    display: block;
    margin: 0 10px;
    color: inherit;

    .inst-icon, .fb-icon {
      transition: 0.3s;
      display: block;
      width: 25px;
      height: auto;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.btn-container {
  margin-top: 20px;
  text-align: center;
  color: #656565;

  .close-btn {
    width: 100px;
  }
}
