
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="category-node">
    <button mat-icon-button disabled></button>
    <span class="category-name" *ngIf="navEnabled"
          (click)="selectCategory(node)"
          routerLink="category/{{node.id}}"
    >{{node.title}}</span>
    <span class="category-name" *ngIf="!navEnabled"
          (click)="selectCategory(node)"
    >{{node.title}}</span>
    <div *ngIf="options && options.isEditable">
      <button mat-icon-button (click)="addCategory(node)" title="Додати нову категорію"><mat-icon>add</mat-icon></button>
      <button mat-icon-button (click)="editCategory(node)" title="Змінити категорію"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteCategory(node.id)" title="Видалити категорію"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="category-node">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.title">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <span class="category-name" *ngIf="navEnabled"
          (click)="selectCategory(node)"
          routerLink="category/{{node.id}}"
    >{{node.title}}</span>
    <span class="category-name" *ngIf="!navEnabled"
          (click)="selectCategory(node)"
    >{{node.title}}</span>
    <div *ngIf="options.isEditable">
      <button mat-icon-button (click)="addCategory(node)" title="Додати нову категорію"><mat-icon>add</mat-icon></button>
      <button mat-icon-button (click)="editCategory(node)" title="Змінити категорію"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteCategory(node.id)" title="Видалити категорію"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-tree-node>
</mat-tree>
