
<mat-drawer-container class="example-container" autosize>
  <mat-drawer class="procedures-sidenav" mode="side" [(opened)]="sideNavOpened">
    <app-categories-tree [tree]="categoryTree"
                         [options]="{isEditable: false, collapseAll: false}"
                         [navEnabled]="true"
    ></app-categories-tree>
    <img src="assets/img/left-angle.svg" *ngIf="sideNavOpened"
         (click)="toggleSideNav()"
         title="Сховати навігацію"
         class="sidenav-toggle-btn left-angle">
  </mat-drawer>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <img src="assets/img/left-angle.svg" *ngIf="!sideNavOpened"
       (click)="toggleSideNav()"
       title="Показати навігацію"
       class="sidenav-toggle-btn right-angle">
</mat-drawer-container>


