
.procedures-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;

  .content-container {
    padding: 20px;
  }
}

.procedures-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.sidenav-toggle-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  height: 80px;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
  }
}
