@import "../../variables";


.content-container {
  padding: 20px;
}

.procedures-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px 5px;
}

.sidenav-toggle-btn {
  position: absolute;
  top: 45%;
  z-index: 1;
  height: 80px;
  opacity: 0.5;

  &.left-angle {
    right: 0;
  }

  &.right-angle {
    left: -18px;
  }

  &:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: $break-small) {
  .procedures-sidenav {
    width: 100%;
  }
}
