@import "../../variables";


.content-container {
  padding: 20px;
  min-height: 800px;
}

.procedures-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 20px 10px;
}

.sidenav-toggle-btn {
  position: fixed;
  top: 45%;
  z-index: 1;
  height: 40px;
  opacity: 0.5;

  &.left-angle {
    left: 316px;
  }

  &.right-angle {
    transform: rotate(180deg);
    left: -8px;
  }

  &:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: $break-small) {
  .procedures-sidenav {
    width: 100%;

    .sidenav-toggle-btn {
      &.left-angle {
        height: 40px;
        left: unset;
        right: 0;
      }
    }
  }
}
