<div class="procedures-container">
  <mat-card class="procedure-card" *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/default-img.png"  alt="default image" *ngIf="!item.image">
    <img [src]="item.image" alt="item image" *ngIf="item.image">
    <mat-card-content>
      <p class="text">{{item.text}}</p>
    </mat-card-content>
    <mat-card-actions class="action-btns-container">
      <button mat-raised-button (click)="editItem(item)" class="edit-btn">Змінити</button>
      <button mat-raised-button (click)="deleteItem(item.id)" class="delete-btn">Видалити</button>
    </mat-card-actions>
  </mat-card>

</div>
