<div class="wrapper">
  <h2>{{isNew ? 'Створити' : 'Змінити'}} Працівника</h2>
  <div>
    <app-file-uploader></app-file-uploader>

    <form [formGroup]="employeeForm" class="procedure-form">
      <mat-tab-group>
        <mat-tab label="UA">
          <mat-form-field class="field">
            <input matInput placeholder="Ім'я та Прізвище" formControlName="title">
          </mat-form-field>

          <mat-form-field class="field">
            <textarea rows="14" matInput placeholder="Текст" formControlName="text"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="EN">
          <mat-form-field class="field">
            <input matInput placeholder="Ім'я та Прізвище" formControlName="titleEn">
          </mat-form-field>

          <mat-form-field class="field">
            <textarea rows="14" matInput placeholder="Текст" formControlName="textEn"></textarea>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <button mat-raised-button color="primary" (click)="confirm()">Зберегти</button>
  <button mat-raised-button *ngIf="employee" (click)="deleteEmployee(employee.id)" class="delete-btn">Видалити</button>
</div>


