<div class="left-bar">
  <div class="nav-link-container">
    <a routerLink="categories-management"><h3>Категорії</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="procedures-management"><h3>Процедури</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="/dashboard/news-management"><h3>Пропозиції</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="/dashboard/employees-management"><h3>Працівники</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="/dashboard/enrollment-management"><h3>Записи</h3></a>
  </div>

  <div class="nav-link-container">
    <a (click)="logOut()"><h3>Вийти</h3></a>
  </div>
</div>
