<div class="left-bar">
  <div class="nav-link-container">
    <a routerLink="/procedures"><h3>Процедури</h3></a>
  </div>
  <div class="nav-link-container">
    <h3>Прайс</h3>
  </div>
  <div class="nav-link-container">
    <h3>Новини/Акції</h3>
  </div>
  <div class="nav-link-container">
    <a routerLink="/products"><h3>Домашній догляд</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="/employees"><h3>Працівники</h3></a>
  </div>
  <div class="nav-link-container">
    <h3>Контакти</h3>
  </div>
</div>
