<div class="left-bar">
  <div class="nav-link-container">
    <a routerLink="categories-management"><h3>Категорії</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="procedures-management"><h3>Процедури</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="/dashboard/employees-management"><h3>Працівники</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="/dashboard/news-management"><h3>Пропозиції</h3></a>
  </div>
  <div class="nav-link-container">
    <a routerLink="/products"><h3>Домашній догляд</h3></a>
  </div>
<!--  <div class="nav-link-container">-->
<!--    <a routerLink="/gallery"><h3>Галерея</h3></a>-->
<!--  </div>-->
  <div class="nav-link-container">
    <h3>Контакти</h3>
  </div>
  <div class="nav-link-container">
    <h3>Прайс</h3>
  </div>
</div>
