/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables";
@import '~@angular/material/theming';

body { margin: 0; font-family: EB Garamond, serif;}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

//override app-editor cursor style
.ql-editor img:hover {
  cursor: default!important;
}

.swiper-pagination-bullet-active {
  background-color: #00ACAB!important;
}

.lang-menu {
  min-width: 50px!important;
  max-width: 50px!important;

  .lang-list {
    display: inline-block;
    margin-top: 20px;
  }
}
