<div class="about-container">
  <div class="swiper-container">
    <swiper [config]="config">
      <div class="swiper-slide">
        <img src="assets/img/about-carousel-img1.jpg" class="carousel-img" alt="Main Banner">
      </div>
      <div class="swiper-slide">
        <img src="assets/img/about-carousel-img2.jpg" class="carousel-img" alt="Main Banner">
      </div>
      <div class="swiper-slide">
        <img src="assets/img/about-carousel-img3.jpg" class="carousel-img" alt="Main Banner">
      </div>
    </swiper>
  </div>
  <div class="text-container">
    <div class="wrapper">
      <p class="text-title">DelightBody — </p>
      <p class="text-title">це про любов до себе. Це про турботу про своє тіло, здоров’я та емоційний стан.</p>
      <p>Втекти від метушні, подарувати собі час для відпочинку, потурбуватись про фізичний та духовний стан — це про наш затишний куточок на Пасічній, 171.</p>
      <p>Ми пишаємось, що за 2 роки активної роботи у нас є 500 постійних, задоволених клієнтів. Тих, хто приходить щонайменше раз на місяць, а то й 2 чи 3 рази на тиждень. Цей факт говорить краще будь-яких слів про нашу відданість справі і любов до кожного відвідувача.</p>
      <pre><mat-icon>check</mat-icon>Більше 20ти видів ручних та апаратних масажів
        <mat-icon>check</mat-icon>Лазерне видалення волосся <mat-icon>check</mat-icon>10 видів спа ритуалів
        <mat-icon>check</mat-icon>Фіто-бочка <mat-icon>check</mat-icon>Більше 30ти протоколів догляду за обличчям
        <mat-icon>check</mat-icon>Солярій, ламінування та корекція брів.
      </pre>
    </div>
  </div>
</div>
