
<div class="swiper-container">
  <div class="logo-container">
    <img src="assets/img/logo.png" class="logo" alt="Site logo">
  </div>
  <swiper [config]="config">
    <div class="swiper-slide">
      <img src="assets/img/main-home-banner.png" class="carousel-img" alt="Main Banner">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/carousel-img1.jpg" class="carousel-img" alt="Main Banner">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/carousel-img2.jpg" class="carousel-img" alt="Main Banner">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/carousel-img3.jpg" class="carousel-img" alt="Main Banner">
    </div>
  </swiper>
</div>

<div class="categories-container-wrapper">
  <app-category-list [categoryList]="categoryList"></app-category-list>
</div>
