@import "../../variables";

.swiper-container {

  .logo-container {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;

    .logo {
      z-index: 10;
      height: 150px;
      width: auto;
    }
  }

  .swiper-slide {
    .carousel-img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      height: 450px;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: red!important;
}

.categories-container-wrapper {
  padding: 20px 30px;
}

@media screen and (max-width: $break-small) {
  .swiper-container {
    .logo-container {
      display: none;
    }

    .swiper-slide {
      .carousel-img {
        height: 250px;
      }
    }
  }

  .about-container {
    display: none;
  }

  .categories-container-wrapper {
    padding: 10px 15px;
  }
}
